<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Courier System{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="{{ url_for('dashboard') }}">DASHBOARD</a></li>
            {% if session.get('rol') == 'admin' %}
            <li><a href="{{ url_for('usuarios') }}">USUARIOS</a></li>
            <li><a href="{{ url_for('roles') }}">ROLES</a></li>
            <li><a href="{{ url_for('zonas') }}">ZONAS</a></li>
            <li><a href="{{ url_for('rutas') }}">RUTAS</a></li>
            {% endif %}
            <li><a href="{{ url_for('recojos') }}">RECOJOS</a></li>
            <li><a href="{{ url_for('entregas') }}">ENTREGAS</a></li>
            {% if session.get('token') %}
            <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">LOGIN</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Contenido específico de la página -->
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
